<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>查询结果</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no, address=no">
<meta name="apple-mobile-web-app-capable" content="yes"> <!-- apple devices fullscreen -->
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="keywords" content="">
<meta name="description" content="">

<link rel="stylesheet" href="../../css/common/bootstrap.min.css?version=2">
<link rel="stylesheet" href="../../css/module/search-list.css?version=2">

<script type="text/javascript" src="../../js/common/jquery-1.11.1.min.js?version=2"></script>
<script type="text/javascript" src="../../js/common/jsrender.min.js?version=2"></script>

<script type="text/javascript" src="../../js/common/common.js?version=2"></script>
<script type="text/javascript" src="../../js/module/profession-list.js?version=2"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=nYNDSvyQbYA0NyWtVjhoRnIGcXNSGzhd"></script>

</head>

<body>
	<input type="hidden" id="uId" value="">
	<input type="hidden" id="lat" value="">
	<input type="hidden" id="lng" value="">
	
	<div class="container">
		<a href="javascript:void(0);" class="redirect-search-index">
			<img class="center-block" id="searchimg" src="http://search.wajiyisheng.com/resources/img/common/logo.png" 
						style="margin: 10% auto 5%; width: 50%; height: 1rem;">
		</a>
	</div>
	
	<!-- search no result -->
	<div class="container error-flag" style="display:none;">
		<img class="center-block" id="searchimg"
			src="http://search.wajiyisheng.com/resources/img/common/no-result.jpg"
			style="margin: 0 auto 1%; width: 92%;">
		<div class="center-block error-code-style">查询出错,请换个试一试</div>
	</div>
	
	<!-- professional page -->
	<div class="professional-container" >
		<div style="height: 1rem; background: #F4F4F4;"></div>
		<div class="container">
			<div class="class-line-header">───&nbsp;请教专家  专业解答&nbsp;───</div>
			
			<div id="profession-div-content">
			</div>
		</div>
	</div>

<!-- 滑动分页，效果：http://zixuephp.net/article-181.html -->
<!-- 记录初始化的页数，now为当前页，num为总页数，这个数值的设置是通过php获取分页的时候的总页数 -->
<div class="caseud error-code-style redirect-search-index">
    <a href="javascript:void(0);">--返回故障搜索>>>>--</a>    
</div>

<script id="search-success-errorcode-match-js" type="text/x-jsrender">
{{for}}
	{{if #getIndex() == 0}}
		<div class="container-search-success-brand"></div>
		<div class="container-search-success-brand-line"></div>
	{{/if}}
  	<td class="mainTaskName_cell"></td>
	<a href="search-detail.html?articleId={{:articleId}}">
		<div class="container-search-success-result-img-div">

		<!--<img src="http://search.wajiyisheng.com/resources/images/small/{{:imgSearchSmall}}">-->
		<div class="row" >
            <div class="col-xs-4 border">
				<img src="http://search.wajiyisheng.com/resources/img/common/tools.png" style="width: 100%; height: 100%"/>
            </div>
            <div class="col-xs-8 border">
                <div class="row">
                    <div class="col-xs-12 padding-0-0 border">
                        <span class="result-title">【{{:errorCode}}】</span>
                    </div>
                    <div class="col-xs-12 padding-0-0 border">
                        <span class="result-desc">{{:title}}</span>
                    </div>
                </div>
            </div>
        </div>
		</div>
	</a>
	<div class="container-search-success-result-div">
		<a href="search-detail.html?articleId={{:articleId}}">
			<div>
				<span style="color: black;">&nbsp;&nbsp;参看故障排除方法&nbsp;&nbsp;请教专家&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				<img src="http://search.wajiyisheng.com/resources/img/common/turn.png">
				<span style="color: #f05a28; font-size: 0.7rem;">戳我&nbsp;</span>
			</div>
		</a>
	</div>
{{/for}}
</script>



<script id="profession-div-content-script" type="text/x-jsrender">
{{for}}
	<div class="professional-container-container-div">
		<div class="professional-container-container-div-img">
			<img src="http://search.wajiyisheng.com/resources/img/module/default-profession.jpg">
		</div>
		<div class="professional-container-container-div-content">
			<div class="professional-container-container-div-content-div1">
				<div class="professional-container-container-div-content-div1-name">{{:name}}&nbsp;</div>
				<div class="professional-container-container-div-content-div1-brand">
            		{{for expertBrands}}
						{{if #getIndex() == 0 || #getIndex() == 1 }}
               				<span>{{:brandName}}&nbsp;</span>
						{{/if}}
            		{{/for}}
				</div>
				<div class="professional-container-container-div-content-div1-price">￥{{:price}}</div>
			</div>
			<div class="professional-container-info-div">
				已被预约次数 :<span>{{:cousultTimes}}次 </span>
				<br> 
				工程师距您约 : <span class="pro-distance" lat={{:lat}} lng={{:lng}}>404.54km</span>
			</div>
		</div>
		<div class="professional-container-info-phone">
			<span id="{{:id}}" class="show-phone">
				<a href="javascript:void(0);">查看号码</a>
			</span>
		</div>
		<div style="clear: both;"></div>
		<div class="professional-container-info-desc">
			<p>{{:info}}</p>
			<p>{{:agencyShopName}}</p>
			<p>{{:address}}</p>
		</div>
	</div>
{{/for}}
</script>

</body>
</html>